.contain {
  background-color: rgba(0, 0, 0, 0.500);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
  animation-name: present;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;

}
.contain article {
  padding: 5px;
}

.contain h2 {
  text-transform: uppercase;
}
.containFoto {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  width: 18rem;
  height: 18rem;
 

}
.foto {
  width: 100%;
  animation-name: mostrarFoto;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@media (min-width: 768px) {
  .contain {
    margin-top: 15px;
    gap: 30px;
  }
  .containFoto {
    align-self: flex-start;
  }
  .contain article {
    text-align: justify;
  }
}
@keyframes present {
  0%{
    background-color: transparent;
    color: transparent;
  }
  100%{
    background-color: rgba(0, 0, 0, 0.500);;
    color:white;
  }
  
}
@keyframes mostrarFoto {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
  
}
article{
  text-align: justify;
}

