
.formulario{
    
    background-color: gray;
    border-radius: 8px;
    box-shadow: 1px 1px 3px white;
    padding: 20px;
    margin:  auto;
    margin-top: 25px;
    margin-bottom: 100px;
    max-width: 800px;
    height: calc(100vh - 405px);
    color:rgb(39, 38, 38);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    z-index: 0;
    animation-name: present;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    overflow-x: hiden;
    
}
.formulario h2{
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@media(max-width:768px){
    .formulario{
      margin-top: 10px;
      margin-bottom: 5px;
      height: calc(100vh - 210px);
      max-width: 80vw;
    }
}
@media(min-width:768px){
    .formulario{
        margin-top: 100px;
        margin-bottom: 100px;
        background-image: url('../img/sobre-vertical.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.input{
       
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
   
    
}
input,textarea{
    animation-name: presentinputs;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
textarea{
    resize: none;
}

.button{
    border: 1px solid white;
    border-radius: 8px;
    padding:5px;
    width: 90%;
    max-width: 320px;
    background-color: black;
    color:white;
    transition: all 0.5s;
    cursor: pointer;

}
.button:hover{
   background-color: gray;

}

.campo{
    outline:none;
    border:1px solid lightgray;
    padding: 8px;
    border-radius: 8px;
    max-width: 100%;
}

@keyframes present {
    0%{
        color:transparent;
        width: 0%;
    }
    100%{
        color: rgb(39, 38, 38);
        width:85%;
    }
}
@keyframes presentinputs {
    0%{
        background-color: transparent;
        color:transparent;
        border:transparent;
    }
    50%{
        background-color: transparent;
        color:transparent;
        border:transparent;
    }
    100%{
        background-color: white;
        color:black;
        border:inherit;
    }
    
}