.contain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv{
    width: 90%;
    max-width: 500px;
    animation: mostrar;
    animation-duration: 1.5s;
}
@media (min-width:768px) {
    .cv{
        margin-top: 50px;
    }
}
@keyframes mostrar {
    0%{
        width: 0%;
        height: 0%;
    }
    100%{
        height: 90%;
        width: 90%;
    }

    
}