.header{
    margin: 0;
    padding: 0;
    width: 100%;    
    color:white;
    display:flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.651);

}


@media(min-width:768px){
    .svg{
        display:none;
    }
}
