.header{
    margin: 0;
    padding: 0;
    width: 100%;    
    color:white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.651);

}
.divVacio{
    width: 32px;
    height: 32px;
    background-color: black;
}
.svg{
    margin:0px;
}

@media(min-width:768px){
    .svg{
        display:none;
    }
}


@media(max-width:768px){
    .title{
        font-size: 18px;
    }
}

.contFoto{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
    overflow: hidden;

}

.contFoto img{
    width: 100%;
}