

.mobile{
    padding: 25px 25px;
    margin: 0;
    position:fixed;
    top:-5px;
    right:-2px;
    list-style-type: none;
    font-size: 16px;
    font-weight:400;
    animation: menu-move 0.3s;   
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 8px gray;
    text-decoration: none;
    height: 100vh;
    background-color: rgba(29, 26, 26, 0.918);
    overflow-y: hiden;
    z-index: 999;
    
}
@media (min-width:450px) {
    .mobile{
        left:350px;
    }
     
}


.mobile a{
    
    color:white;
    text-decoration: none;
    
}
.itemmobile{
  
  display:flex;
  align-items: center;
  gap:15px;
  margin: 25px 2px;
}


@media (min-width: 768px){
    .itemmobile{
        right: 150px;
        
    }
 
}
@keyframes menu-move {
    0%{ 
        background-color: transparent;
        height: 100vh;
        right: -200px;
        color:rgba(255, 255, 255, 0.171);
        box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.24);
    }
    100%{
        background-color: rgba(29, 26, 26, 0.918);;
        height:100vh;
        right:0px;
        color:rgb(255, 255, 255);
        box-shadow: 2px 2px 8px rgb(128, 128, 128);
    }
    
}
.cerrar{
    color:white;
    cursor:pointer;
    position:absolute;
    top:80px;
    left:30px;
    font-size: 50px;
    z-index: 999;
    text-shadow: 8px 2px 18px black;
    
    
}
.icons{
    width: 25px;
}


