
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
body{
  background-color: black;
  
}
.app-container{

  font-family: 'Roboto', sans-serif;  
  margin: auto;
  max-width: 1200px;
  position:relative;
  height: 90vh;
}
h1{
    padding: 10px;
}
/* @media(min-width:768px){
  body{
    overflow: hidden;
  }
} */


.my-svg{
  color:white;
}

.rotate{
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.initial-position{
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.velo{
  position: fixed;
  left: 0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(29, 36, 37, 0.568);  
  z-index: 10;
}

.blur{
  filter: blur(5px);
}