
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
body{
  background-color: black;
  
}
.app-container{

  font-family: 'Roboto', sans-serif;  
  margin: auto;
  max-width: 1200px;
  position:relative;
  height: 98vh;
}
h1{
    padding: 10px;
}
/* @media(min-width:768px){
  body{
    overflow: hidden;
  }
} */


.my-svg{
  color:white;
}